#uppernav {
  float: right;
  background-color: #f7cac9;
}
.navbar-top {
  background: #f7cac9;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}

#headinglogo.row {
  width: 100%;
}
#logo {
  margin-top: 1vw;
  width: 9vw;
  height: 9vw;
  margin: 5px;
  margin-left: 2vw;
  padding-right: 5px;
  padding-left: 5px;
}
.headingname {
  margin-left: 3px;
  float: left;
  clear: left;

  margin-top: auto;
  margin-bottom: auto;
}
#clgname {
  float: left;
  color: #640c16;
  font-family: verdigris;

  font-size: 2.5vw;
  margin-top: auto;
  margin-bottom: auto;
  font-weight: bold;
}
#organization {
  color: rgb(76, 204, 247);
  margin-bottom: 0;
  padding-bottom: 0;
  font-size: 1.5vw;
  padding-left: 20vw;
}
#addr {
  font-size: 2vw;
  font-weight: bold;
  color: #635e5f;
}
@media (max-width: 650px) {
  .row {
    margin-top: 5px;
    margin-bottom: 5px;

    margin-left: auto;
    margin-right: auto;
  }
  .headingname {
    float: right;
  }
  #clgname {
    float: right;
    font-size: 3.3vw;

    font-weight: bold;
  }

  #addr {
    font-weight: bold;
    margin: auto;
  }
  #logo {
    float: left;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 3vw;
    width: 60px;
    height: 60px;
  }
  #organization {
    font-size: 2.7vw;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-left: 23vw;
  }
}
